<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1" package="com.companyname.divisas" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="Convertidor de Bolívares" android:theme="@style/MainTheme" android:icon="@drawable/IconConvert"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>